.attack-pattern-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 2px var(--primary-color);
    display: inline-block;
    margin-right: 5px;
}

.attack-pattern-dots-list {
    display: flex;
    justify-content: center;
}

.attack-pattern-dot.active {
    background-color: var(--primary-color);
}

.attack-pattern-stepper-container {
    padding: 20px;
    height: 90px;
}

.attack-pattern-btn-next {
    float: right;
}

.attack-pattern-btn-submit {
    float: right;
}

.attack-pattern-btn-off {
    pointer-events: none;
    background-color: grey;
    border-color: grey;
}

.step-form-submit-container {
    position: relative;
    float: right;
}